$start-color: lightblue;
$end-color: white;
$image-size: 20rem;

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
}

.landing-container {
    height: 100vh;
    background-size: cover;
    background: linear-gradient(to bottom, rgba($start-color, .95), rgba($end-color, .95));

    &.app-mode {
        height: calc(100vh - 6.4rem);
        background: none;
    }

    &--apple-logo {
        position: absolute;
        top: calc(50% - ($image-size / 2));
        left: calc(50% - ($image-size / 2));
        height: $image-size;
        transition: all 0.5s;

        &.app-mode {
            opacity: 0.2;
        }
    }

    &--year {
        padding-top: 40rem;
        position: relative;
        font-size: 32pt;
        font-weight: bold;
        letter-spacing: 20pt;
        margin-left: 2rem;

        &.app-mode {
            color: lightgray;
        }
    }
}

.year {
    margin-top: 30rem;
    font-size: 18pt;

    &.grayed-out {
        color: lightgray;
    }
}

