<div fxLayout="column" class="vh-100" fxLayoutAlign="center center">
    <div fxFlex>&nbsp;</div>
    <div fxFlex fxLayout="column" fxLayoutGap="2rem">
        <div fxFlex="initial" class="welcome mat-display-3 animated fadeIn">Welcome to Apple</div>
        <div class="our-products">
            <div class="see-our-products text-center">See our products</div>
        </div>
        <div fxFlex="initial" class="devices" fxLayout="row" fxLayoutGap="2rem" fxLayoutAlign="center center">
                <img src="/assets/images/iphone-gray.png" class="small-icon" alt="">
                <img src="/assets/images/mac-book-gray.png" class="small-icon" alt="">
                <img src="/assets/images/watch-gray.png" class="small-icon" alt="">
        </div>
    </div>
</div>
