:host {
    height: calc(100vh - 6.4rem);
}

.welcome {
    margin-top: -4rem;
}

.our-products {
    margin-top: 7rem;
    color: #35c4c4;
    font-size: 22;
    width: 40rem;
}

.devices {
    margin-top: 10rem;
}

.small-icon {
    width: 2rem;
}